@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffffff;
  margin: 6.7vh;
  border: solid 1px #1062ce77;
    border-radius: 20px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1062ce77;
  border-radius: 20px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}